# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
.buildpath
.project
.settings/com.zend.php.javabridge.core.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.core.projectOptions.prefs
.zfproject.xml
